# Global owners
* @yukthimantrasacademy-website

# Application-specific owners
/yukthimantra.com/ @yukthimantrasacademy-website
/app.yukthimantra.com/ @yukthimantrasacademy-website
/events.yukthimantra.com/ @yukthimantrasacademy-website
/packages/ @yukthimantrasacademy-website
/.github/ @yukthimantrasacademy-website
/docs/ @yukthimantrasacademy-website
