# Global owners
* @yukthimantrasacademy-website

# Application-specific owners
/yukthimantrasacademy.com/ @yukthimantrasacademy-website
/app.yukthimantrasacademy.com/ @yukthimantrasacademy-website
/events.yukthimantrasacademy.com/ @yukthimantrasacademy-website
/packages/ @yukthimantrasacademy-website
/.github/ @yukthimantrasacademy-website
/docs/ @yukthimantrasacademy-website
